<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
  <p><label for="team_name">Team Name: </label>
  <input type="text" id="team_name" name="team[name]"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" id="team_motto" name="team[motto]"></p>
  
  
  <input type="submit" value="Submit">
</form>