

<form action="/teams" method="POST">
  <h1>Create a Team and Heroes!</h1>
  
  <p><label for="team_name">Team Name: </label>
  <input type="text" id="team_name" name="team[name]"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" id="team_motto" name="team[motto]"></p>
  
  <h2>Hero 1</h2>
  
  <p><label for="member1_name">Hero's Name: </label>
  <input type="text" id="member1_name" name="member1[][name]"><br>
  <label for="member1_power">Hero's Power: </label>
  <input type="text" id="team_motto" name="team[motto]"></p>
  
  <input type="submit" value="Submit">
</form>